.dashboard_layout{
    display: flex;
  

}

.sidebar{
position: relative;
top: 0;
left: 0;
margin-right: 10px;
}

.graph{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.main {
    margin-top: 10px;
    width: 400px;
    clear: both;
}