body {
    background-color: #000000;
    background-image: linear-gradient(315deg, #b7b7b7 0%, #000000 74%); 
} 

*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}